.container
{
    overflow: hidden;
    position: relative;
}

.body
{
    height: calc(100vh - 115px);
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.content
{
    width: 80%;
    overflow-y:auto;
}

.menu
{
    width: 20%;
}