<div>
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <md-input-container>
      <input mdInput type="text" placeholder="Username" name="username" id="username" formControlName="username">
      <md-error>This field is required</md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput type="password" placeholder="Password" name="password" id="password" formControlName="password">
      <md-error>This field is required</md-error>
    </md-input-container>
    <button md-raised-button type="submit">Login</button>
  </form>
  <p>Please login to use the application.</p>
</div>
